.footer-container {
  background: linear-gradient(90deg, rgb(32, 21, 21) 0%, rgb(57, 49, 49) 100%);
  padding: 4rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}